@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  font-family: 'Poppins';
  overflow-x: hidden; }

#nav {
  min-height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 1; }

.header .row {
  min-height: 70vh;
  align-items: center; }
  .header .row .col-5 {
    justify-content: center;
    text-align: center;
    align-items: center;
    max-height: 240px;
    width: 760px;
    color: black;
    z-index: 1;
    opacity: .8;
    mix-blend-mode: hard-light; }
    .header .row .col-5 h1 {
      font-size: 100px;
      text-transform: uppercase;
      font-family: "underrated", sans-serif; }
    .header .row .col-5 .alt {
      position: relative;
      left: 65px;
      top: -99px;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black; }
    .header .row .col-5 .title {
      letter-spacing: 2px;
      font-variant: small-caps;
      font-weight: 550;
      position: relative;
      top: -130px;
      text-align: right; }
    .header .row .col-5 .portfolio {
      position: absolute;
      left: 0;
      top: 530px;
      min-width: 45%;
      display: flex;
      flex-direction: row-reverse;
      letter-spacing: 2px;
      max-height: 20px;
      text-align: right;
      text-wrap: nowrap;
      font-weight: 550; }
      .header .row .col-5 .portfolio h6 {
        font-variant: small-caps;
        font-weight: 550; }
      .header .row .col-5 .portfolio p {
        margin-top: 3px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 11px; }
      .header .row .col-5 .portfolio .btm-border {
        border-bottom: solid 1px black;
        opacity: .8;
        mix-blend-mode: hard-light;
        width: 100%; }

.header .gradient-container {
  display: none;
  height: 60vh;
  width: 100vw;
  /* display: flex; */
  background: transparent;
  position: absolute;
  z-index: -1;
  top: 0px;
  /*background-image:radial-gradient(at 0% 0%, hsl(340, 89%, 50%) -100px, transparent 30%),radial-gradient(at 70% 50%, hsla(165, 91%, 52%, 0.13) 0px, transparent 30%), radial-gradient(at 20% 30%, hsla(251, 91%, 52%, 0.3) 0px, transparent 15%) ;*/ }
  .header .gradient-container .blush1 {
    background: #4500c5;
    width: 500px;
    height: 500px;
    border-radius: 200rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(120px); }
  .header .gradient-container .blush2 {
    background: #ff1160;
    width: 300px;
    height: 200px;
    border-radius: 200rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(70px); }

.body {
  width: 100%;
  height: 100vh;
  top: -960px;
  position: relative; }

.content {
  background-color: #161616;
  color: white;
  width: 100%;
  height: 100vh; }

.row {
  align-items: center;
  justify-content: center; }

#grain {
  pointer-events: none;
  background: white; }

.spline {
  position: relative;
  top: -300px;
  mix-blend-mode: darken; }
