@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  font-family: "Poppins";
  overflow-x: hidden;
  box-sizing: border-box;
  background-image: url(/img/grain.gif); }

.sss {
  height: 1000px; }

.spacer {
  height: 200px; }

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  background-color: transparent;
  border: 1.5px solid white;
  z-index: 1000;
  height: 50px;
  width: 50px;
  transition: all 140ms ease-out; }

#nav {
  height: 70px;
  background-color: #00000000;
  backdrop-filter: blur(10px);
  padding: 0px 20px;
  z-index: 100;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0; }
  #nav .container {
    justify-content: flex-end; }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    #nav ul li {
      display: inline;
      float: right; }
      #nav ul li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; }
    #nav ul button a {
      padding: 0; }

.spacer {
  height: 200px;
  z-index: 3;
  width: 30px; }

.sparkles {
  position: absolute;
  width: 100vw;
  z-index: 20;
  height: 50vh; }
  .sparkles #sp1 {
    position: relative;
    left: 25%;
    top: 20%; }
  .sparkles #sp2 {
    position: relative;
    top: 80%;
    scale: 0.3;
    left: 35%; }
  .sparkles #dt1 {
    scale: 1.2;
    position: relative;
    top: 90%;
    left: 30%; }
  .sparkles #dt2 {
    scale: 1.2;
    position: relative;
    left: 15%;
    top: 10%; }
  .sparkles #dt3 {
    scale: 1.2;
    position: relative;
    left: 70%;
    top: 80%; }
  .sparkles #dt4 {
    scale: 2.2;
    position: relative;
    left: 60%;
    top: 70%; }

.header #top-section {
  height: 20vh;
  align-items: center;
  justify-content: center; }
  .header #top-section #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100vw;
    color: black;
    z-index: 1;
    margin: 0px 20px !important; }
    .header #top-section #hero .khawla,
    .header #top-section #hero .ibrahim {
      font-size: calc(6vw + 1vh);
      text-align: center;
      text-transform: uppercase;
      font-family: "underrated", sans-serif;
      line-height: 0.46;
      align-self: center; }
    .header #top-section #hero .ibrahim {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black; }

#portfolio-div {
  text-align: left;
  display: flex; }
  #portfolio-div .title {
    /* align-self: end;
    justify-content: right;
    align-items: center; */
    letter-spacing: 2px;
    font-variant: small-caps;
    font-weight: 550;
    text-wrap: nowrap;
    font-size: 1em;
    padding: 0; }
  #portfolio-div #portfolio {
    font-variant: small-caps;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 550;
    display: flex;
    z-index: 10;
    height: 30px;
    display: flex;
    flex-direction: column; }
    #portfolio-div #portfolio .num-sym {
      font-size: 11px;
      font-weight: 550; }
    #portfolio-div #portfolio p {
      padding: 0;
      margin: 0; }
  #portfolio-div #btm-border {
    border-bottom: 1px solid black;
    left: 0px;
    z-index: 10; }

@media screen and (min-width: 1730px) {
  .title {
    padding-top: 1vw; } }

.body {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .body svg {
    padding-bottom: -2px; }

.divider {
  background: linear-gradient(black, rgba(248, 248, 248, 0.1));
  height: 200px;
  width: 100vw; }

.content {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  z-index: 5;
  text-transform: uppercase;
  display: flex;
  flex-direction: column; }
  .content p {
    text-align: center;
    max-width: 640px;
    letter-spacing: 1.5px;
    font-weight: 200; }
  .content .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .content #about-me .skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 450px; }
    .content #about-me .skills img {
      padding: 16px;
      scale: 1.2; }
  .content #works #works-title {
    -webkit-text-stroke-color: black !important; }
  .content .outlined-title {
    padding-bottom: 30px;
    font-size: 50px;
    text-align: center;
    font-family: "underrated", sans-serif;
    align-self: center;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; }

.row {
  align-items: center;
  justify-content: center; }

#grain {
  /*   pointer-events: none;
 */
  background: #f8f8f8; }

.spline {
  position: absolute;
  width: 100vw;
  max-height: 80vh;
  background-clip: content-box;
  top: 450px;
  mix-blend-mode: darken;
  overflow: none !important; }

.btn-primary {
  background-color: #ff0055 !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  margin-top: 6px !important;
  box-shadow: none !important; }
  .btn-primary a {
    color: white !important;
    text-decoration: none !important; }

a {
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: 400; }

.footer {
  width: 100vw;
  position: absolute;
  bottom: 0px !important;
  z-index: 200;
  background: radial-gradient(ellipse at bottom, #ff0055, black, black); }
  .footer p {
    color: white;
    text-align: center;
    font-weight: 300;
    width: 60%; }
  .footer .sparkles2 {
    position: absolute;
    width: 100vw;
    z-index: 20;
    height: 50vh; }
    .footer .sparkles2 #sp1 {
      position: relative;
      left: 20%;
      top: 30%; }
    .footer .sparkles2 #sp2 {
      position: relative;
      left: 70%;
      top: -10%;
      scale: 0.3; }
    .footer .sparkles2 #dt1 {
      scale: 1.2;
      position: relative;
      left: 25%;
      top: 20%; }
    .footer .sparkles2 #dt2 {
      scale: 3;
      position: relative;
      left: 65%;
      top: 60%; }
    .footer .sparkles2 #dt3 {
      scale: 1;
      position: relative;
      left: 65%;
      top: 70%; }
    .footer .sparkles2 #dt4 {
      scale: 2.2;
      position: relative; }
  .footer .contacts {
    font-family: "underrated", sans-serif;
    text-align: center;
    text-transform: uppercase; }
    .footer .contacts h3 {
      color: #ff0055;
      margin: -25px;
      font-size: 40px; }
    .footer .contacts #con1,
    .footer .contacts #con3 {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ff0055; }
